# Visual Studio Code
.vscode/

# IntelliJ IDEA
.idea/

# Temporary files
*.tmp
*.temp
*.swp
*.swo
*.bak
*.log
*.cache
*.aux
*.out
*.toc
*.nav
*.snm
*.vrb
*.synctex.gz(busy)


#///////////////////////////
# Cocos Creator 3D Project
#///////////////////////////
library/
temp/
local/
build/
profiles/
native
#//////////////////////////
# NPM
#//////////////////////////
node_modules/

#//////////////////////////
# VSCode
#//////////////////////////
.vscode/

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/

server/saved/
__pycache__/
*.pyc